#settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menuScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boardSelection {
  flex-grow: 0.50;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 50%;
}